doctype

html
  head
    title Ez Pin For fcc
    include lib.jade
    
  body
      div(class="container-fluid")
        include header.jade
      div(class="pin-wall")
        each p in pins
          div(class="pin")
            image(src="#{p.url}" class="pin-pic" onError="this.onerror=null;this.src='pic/noImage.jpg'")
            div(class="pin-title") #{p.title}
            div(data-toggle="tool-tip" title="#{'@'+p.username}")
              image(class="pin-icon" src="#{p.iconURL}")
            if(user&&user.id==id)
                a(href="#{'/delete?id='+p.id+'&i='+p.i}")
                    span(class="pin-remove btn btn-danger glyphicon glyphicon-remove")
script(src="js/init.js")